<!doctype html>
<html>

<head>
    <title>About Smart Home Device Connector</title>
    <link rel="stylesheet" type="text/css" media='screen' charset='utf-8' href="css/style.css"/>
</head>

<body>
    <div id="container">
        <main>
            <div>
                <h1> About Smart Home Connector </h1>
                <p>
                    The Smart Home Connector, is an application for linking all your smart devices 
                    to one central controller. 
                    <br/><br/>
                    This brings the power of a connected house to your fingertips!
                </p>
                <p>
                    Garrison Jabs developed this application as a solution to the Mid-Term assignment!
                </p>
            </div>
        </main>
        <footer>
            <div>
                <button id="myButton1" onclick="location.href='/';">Home</button>
                <button id="myButton2" onclick="location.href='/add';">Add New Device</button>
                <button id="myButton3" onclick="location.href='/status';">Device Status</button>
            </div>
        </footer>
    </div>
</body>

</html>