<!doctype html>
<html>

<head>
    <title>Device Added</title>
    <link rel="stylesheet" type="text/css" media='screen' charset='utf-8' href="css/style.css"/>
</head>

<body>
    <div id="container">
        <main>
            <div>
                <h1> Your device has been updated!! </h1>
                <p>You will be redirected to the device status page shortly!</p>

                <script>
                    setTimeout(function () {
                        // after 2 seconds
                        window.location = "/status";
                    }, 3000)
                </script>

                <br><br>
            </div>
        </main>
    </div>
</body>

</html>